.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.ui__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px 30px;
}

.ui__item {
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  margin: 0 15px 15px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: TT-Commons;
  src: url(../fonts/TTCommons-Light.woff2) format("woff2"),url(../fonts/TTCommons-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TT-Commons;
  src: url(../fonts/TTCommons-Regular.woff2) format("woff2"),url(../fonts/TTCommons-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TT-Commons;
  src: url(../fonts/TTCommons-Medium.woff2) format("woff2"),url(../fonts/TTCommons-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Druk-Wide;
  src: url(../fonts/Druk-WideMedium.woff2) format("woff2"),url(../fonts/Druk-WideMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.block,
.block__wrapper {
  position: relative;
}

.block__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

.block_purple {
  background-color: #2e0571;
}

.block_light {
  background-color: #fcfcfc;
}

.block_indentation-compensation .block__wrapper {
  padding-top: 117px;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: TT-Commons,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,\ Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33333;
  color: #9f9bad;
  overflow-y: scroll;
  cursor: default;
}

.body {
  flex-direction: column;
  min-width: 320px;
}

.body,
.body__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.body__wrapper {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  flex-direction: column;
}

.body__content,
.body__footer,
.body__header {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.body__header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1;
}

.body__content {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.body__footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section-title {
  margin-bottom: 63px;
  font-size: 48px;
  line-height: 1.14583;
  font-weight: 500;
  color: #2e0571;
}

.section-title span {
  color: #9f9bad;
}

.section-title_white {
  color: #fff;
}

.section-title_padding-top {
  padding-top: 20px;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.button__content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 100%;
  padding: 18.5px 66.5px;
  color: #2e0571;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33333;
  background-color: #fed002;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button__icon {
  position: relative;
  -webkit-box-flex: 0;
  flex: none;
  width: auto;
  margin-left: 10px;
  line-height: 0;
  z-index: 1;
}

.button__icon_left {
  -webkit-box-ordinal-group: 0;
  order: -1;
  margin-left: 0;
  margin-right: 1px;
}

.button__icon_only {
  margin-left: 0;
}

.button__title {
  min-width: 0;
}

.button .is-focus,
.button:focus {
  outline: none;
}

.button.is-active,
.button:active {
  box-shadow: none;
}

.button.is-loading {
  opacity: .5;
}

.button.is-disabled,
.button:disabled {
  pointer-events: none;
}

.button_full {
  display: block;
  width: 100%;
}

.button_box-shadow {
  box-shadow: 0 5px 20px rgba(254,208,2,.3);
}

.link {
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  color: #2e0571;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link__icon {
  margin-left: 10px;
}

.link__icon svg {
  fill: #2e0571;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link:focus {
  outline: none;
}

.link_black {
  color: #150633;
}

.link_black .link__icon svg {
  fill: #150633;
}

.link.link_obscure {
  color: hsla(0,0%,100%,.4);
}

.link.link_obscure .link__icon svg {
  fill: hsla(0,0%,100%,.4);
}

.link.link_white {
  color: #fff;
}

.link.link_white .link__icon svg {
  fill: #fff;
}

.link_icon-left .link__icon {
  margin-right: 10px;
  margin-left: 0;
}

.header {
  background-color: #2e0571;
}

.header__wrapper {
  padding: 30px 20px;
}

.header__side,
.header__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.header__side {
  -webkit-box-flex: initial;
  flex: initial;
  width: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.header__side span {
  position: relative;
  padding-left: 20px;
}

.header__side span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #e6e3e7;
}

.header__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: initial;
  flex: initial;
  margin-right: 18px;
}

.footer {
  background-color: #2e0571;
  border-top: 1px solid hsla(0,0%,100%,.7);
  font-size: 14px;
  line-height: 1.28571;
}

.footer__wrapper {
  padding-top: 35px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer__nav,
.footer__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.footer__nav {
  font-size: 18px;
  line-height: 1.33333;
}

.footer__link {
  position: relative;
  text-decoration: none;
  color: hsla(0,0%,100%,.6);
  margin-right: 40px;
}

.footer__link:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -20px;
  width: 1px;
  height: 100%;
  background-color: hsla(0,0%,100%,.6);
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:last-child:before {
  content: none;
}

.footer__link:focus {
  outline: none;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro {
  padding-top: 185px;
  padding-bottom: 120px;
}

.intro__wrapper {
  position: relative;
  max-width: 1700px;
}

.intro__subcontainer {
  max-width: 1240px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro__vertical-text {
  position: absolute;
  font-size: 14px;
  line-height: 1.28571;
  color: hsla(0,0%,100%,.4);
  top: 195px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.intro__vertical-text_left-side {
  left: 0;
}

.intro__vertical-text_right-side {
  right: 0;
}

.intro__side {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
}

.intro__image {
  position: relative;
  margin-bottom: 27px;
}

.intro__filled {
  position: absolute;
  top: 67px;
  left: 83px;
}

.intro__image+span {
  display: block;
  max-width: 380px;
}

.intro__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.intro__item_ml-auto {
  margin-left: auto;
  margin-right: 125px;
}

.intro__item_lg-pos-a {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.filled {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  font-size: 42px;
  line-height: 1;
  color: #2e0571;
}

.filled__row {
  position: relative;
  -webkit-box-flex: initial;
  flex: initial;
  width: auto;
  padding-left: 32px;
  background-color: #fed002;
}

.filled__row:first-child {
  padding-right: 40px;
}

.filled__row:nth-child(2) {
  padding-right: 20px;
}

.filled__row:nth-child(3) {
  padding-right: 35px;
}

.filled__row:last-child {
  padding-right: 368px;
}

.filled__row:last-child:before {
  content: "";
  position: absolute;
  bottom: -37px;
  left: 0;
  width: 200px;
  height: 37px;
  background-color: #fed002;
}

.filled span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
  z-index: 1;
}

.action {
  cursor: pointer;
}

.action__main {
  position: relative;
}

.action_play .action__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.action_play .action__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 38px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fed002;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.action_play .action__icon {
  line-height: 0;
  z-index: 1;
}

.action_play .action__circle {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.action_play .action__side {
  max-width: 195px;
}

.action_scroll-down .action__image {
  -webkit-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

.action_scroll-down .action__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fcfcfc;
  height: calc(100% - 87px);
}

.about__wrapper {
  padding-top: 90px;
  margin-bottom: -40px;
}

.about__side {
  margin-bottom: 40px;
}

.about__title {
  font-family: Druk-Wide,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,\ Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 1.18919;
  color: #fed002;
  margin-bottom: 33px;
}

.about__title span {
  color: #2e0571;
}

.about__title+p {
  margin: 0;
  max-width: 48%;
  padding-left: 53px;
}

.about__main {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.about__main:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e6e3e7;
}

.about__item {
  display: -webkit-box;
  display: flex;
  flex-basis: calc(33.33333% - 20px);
  max-width: calc(33.33333% - 20px);
  margin: 0 10px 20px;
}

.about-card {
  background-color: #fff;
  box-shadow: 0 18px 40px rgba(8,15,40,.08);
  border-radius: 1px;
  overflow: hidden;
}

.about-card,
.about-card__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: auto;
}

.about-card__wrapper {
  -webkit-box-align: end;
  align-items: flex-end;
  padding: 59px 49px 46px;
  font-size: 18px;
  line-height: 1.16667;
}

.about-card__main {
  -webkit-box-flex: 0;
  flex: none;
  width: auto;
  margin-right: 15px;
  font-size: 74px;
  line-height: 1;
  color: #2e0571;
}

.about-card__side {
  -webkit-box-flex: initial;
  flex: initial;
  width: auto;
  padding-bottom: 15px;
}

.projects__wrapper {
  padding-top: 134px;
  padding-bottom: 90px;
}

.project-card {
  box-shadow: 0 18px 40px rgba(8,15,40,.08);
  border-radius: 1px;
  overflow: hidden;
  text-decoration: none;
}

.project-card,
.project-card__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: auto;
}

.project-card__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}

.project-card__content,
.project-card__footer,
.project-card__header {
  width: 100%;
}

.project-card__footer,
.project-card__header {
  -webkit-box-flex: 0;
  flex: none;
}

.project-card__header {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.project-card__header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project-card__image {
  line-height: 0;
}

.project-card__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.project-card__tab-title {
  position: absolute;
  top: 30px;
  right: auto;
  bottom: auto;
  left: 30px;
  padding: 14.5px 18px 11.5px;
  background-color: #2e0571;
  z-index: 2;
}

.project-card__content {
  -webkit-box-flex: 1;
  flex: auto;
  padding: 35px 50px 38px 52px;
  font-size: 18px;
  line-height: 1.33333;
  color: #9f9bad;
}

.project-card__title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.13333;
  color: #2e0571;
}

.project-card__title:only-child {
  margin-bottom: 0;
}

.project-card__content p {
  margin: 0;
}

.project-card__footer {
  padding: 37px 53px 32px;
  margin-top: auto;
  border-top: 1px solid rgba(224,223,234,.8);
}

.project-card:focus {
  outline: none;
}

.tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
}

.tabs__item {
  margin-right: 46px;
}

.tabs__item a {
  position: relative;
  display: block;
  padding-bottom: 13px;
  font-size: 24px;
  line-height: 1.25;
  text-decoration: none;
  color: #9f9bad;
  z-index: 1;
}

.tabs__item a:focus {
  outline: none;
}

.tabs__item a[role=tab]:hover:not([aria-selected=true]) {
  border: none;
  background-color: transparent;
}

.tabs__item a[role=tab][aria-selected=true] {
  color: #2e0571;
  border: none;
  background-color: transparent;
}

.tabs__item a[role=tab][aria-selected=true]:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.tab__side {
  margin-bottom: 50px;
}

.tab__main {
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.tab__item,
.tab__main {
  display: -webkit-box;
  display: flex;
}

.tab__item {
  flex-basis: calc(33.33333% - 20px);
  max-width: calc(33.33333% - 20px);
  margin: 0 10px 20px;
}

.hero__overlays {
  position: relative;
  line-height: 0;
}

.hero__overlay {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero__overlay_person {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.cards {
  position: relative;
}

.cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #29006c;
  height: calc(100% - 74px);
}

.cards__wrapper {
  padding-top: 75px;
}

.cards__title {
  margin-bottom: 44px;
}

.cards__list {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.cards__list:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e6e3e7;
}

.cards__item {
  display: -webkit-box;
  display: flex;
  flex-basis: calc(33.33333% - 20px);
  max-width: calc(33.33333% - 20px);
  margin: 0 10px 20px;
}

.cards_purple .card {
  background-color: #2e0571;
}

.cards_light:before {
  background-color: #fcfcfc;
}

.cards_light .card {
  box-shadow: 0 18px 40px rgba(8,15,40,.08);
  border-radius: 1px;
  overflow: hidden;
  min-height: 360px;
}

.cards_light .card__wrapper {
  font-size: 18px;
  line-height: 1.33333;
}

.cards_light .card__title {
  color: #150633;
}

.cards_light .card__side span {
  color: rgba(159,155,173,.4);
  font-weight: 300;
}

.cards_light .card__main p:first-of-type {
  color: #9f9bad;
}

.cards_large-paddings .card {
  background-color: #fff;
}

.cards_large-paddings .card__wrapper {
  padding: 51px 53px 66px 51px;
}

.cards_large-paddings .card__side {
  margin-bottom: 47px;
}

.cards_large-paddings .card__title {
  margin-bottom: 27px;
  max-width: 284px;
}

.cards_large-paddings .card__main p:first-of-type {
  max-width: 260px;
}

.card {
  display: -webkit-box;
  display: flex;
}

.card,
.card__wrapper {
  -webkit-box-flex: 1;
  flex: auto;
}

.card__wrapper {
  padding: 39px 51px 67px 49px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.card__side {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 1.25;
  color: hsla(0,0%,100%,.4);
}

.card__title {
  max-width: 251px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.13333;
}

.card__side span {
  line-height: 1;
}

.card__main p {
  margin-top: 0;
  margin-bottom: 15px;
}

.card__main p span {
  font-weight: 500;
  text-transform: uppercase;
}

.card__main p:last-child {
  margin-bottom: 0;
}

.card__main p:first-of-type {
  color: hsla(0,0%,100%,.6);
}

.tools__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tools__title {
  max-width: 880px;
}

.tools__list {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -17px;
}

.tools__list:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e6e3e7;
}

.tools__item {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  margin: 0 10px 17px;
}

.tool,
.tools__item {
  display: -webkit-box;
  display: flex;
}

.tool {
  overflow: hidden;
  border: 2px solid rgba(195,195,200,.2);
}

.tool,
.tool__wrapper {
  -webkit-box-flex: 1;
  flex: auto;
}

.tool__wrapper {
  position: relative;
  padding: 47px 50px 50px 41px;
  min-height: 400px;
  font-size: 18px;
  line-height: 1.33333;
  color: #9f9bad;
  background-color: #fcfcfc;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.tool__main {
  padding: 10px;
  max-width: 352px;
  background-color: #fcfcfc;
}

.tool__title {
  font-size: 30px;
  line-height: 1.13333;
  color: #150633;
  z-index: 1;
}

.tool__main span:first-of-type {
  display: block;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  color: #2e0571;
}

.tool__main div+span {
  margin-top: 25px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.33333;
  color: #9f9bad;
}

.tool_image-right-side .tool__main {
  max-width: 177px;
}

.partners__wrapper {
  padding-top: 74px;
  padding-bottom: 147px;
}

.partners__title.section-title {
  margin-bottom: 106px;
}

.partners__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.partners__item {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin: 0 10px 20px;
}

.partner,
.partner__wrapper,
.partners__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: auto;
}

.partner__main {
  max-width: 170px;
  margin-right: 11px;
}

.partner__main span {
  display: block;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 1.13333;
  color: #2e0571;
}

.partner__icon {
  padding-top: 5px;
  -webkit-box-flex: 0;
  flex: none;
  width: auto;
}

.partner_no-icon .partner__main {
  max-width: 250px;
}

.commission__wrapper {
  padding-bottom: 143px;
}

.commission__main {
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 1.33333;
  color: #9f9bad;
}

.commission__title {
  margin-bottom: 37px;
}

.commission__main p {
  max-width: 433px;
  padding-left: 53px;
  margin: 0;
}

.commission__list {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.commission__item {
  -webkit-box-flex: 0;
  flex: none;
  width: auto;
}

.commission__item:last-child {
  margin-right: 0;
}

.review {
  position: relative;
}

.review:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
}

.review__wrapper {
  display: -webkit-box;
  display: flex;
}

.review__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 50px);
  height: 1px;
  background-color: #e6e3e7;
}

.review__main {
  padding-top: 125px;
  padding-bottom: 100px;
  -webkit-box-flex: 0;
  flex: none;
  font-size: 18px;
  line-height: 1.33333;
}

.review__title {
  margin-bottom: 55px;
}

.review__person {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.review__image {
  position: relative;
  padding-left: 52px;
  padding-right: 45px;
  margin-right: 40px;
  line-height: 0;
}

.review__image:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 60px;
  background-color: #e6e3e7;
}

.review__img {
  -webkit-box-flex: 0;
  flex: none;
}

.review__who {
  font-size: 16px;
  line-height: 1.5;
}

.review__link {
  font-size: 24px;
  line-height: 1.25;
}

.review__main p {
  position: relative;
  max-width: 480px;
  padding-left: 52px;
}

.review__main p span {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 74px;
}

.review__side {
  position: relative;
  -webkit-box-flex: initial;
  flex: initial;
  width: 100%;
}

.review__side img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.start__wrapper {
  padding-top: 105px;
}

.start__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 1.13333;
  color: #fff;
}

.start__main {
  padding-bottom: 121px;
}

.start__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.start__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.start__row .start__link {
  font-size: 18px;
  line-height: 1.33333;
}

.start__item {
  position: relative;
}

.start__item:first-child {
  -webkit-box-flex: 0;
  flex: none;
  padding-right: 56px;
  margin-right: 53px;
}

.start__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: hsla(0,0%,100%,.4);
}

.start__side {
  border-top: 1px solid hsla(0,0%,100%,.4);
  padding-top: 66px;
  padding-bottom: 70px;
  padding-right: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.13333;
  color: #fff;
}

.start__side .start__link {
  margin-left: 20px;
}

.start__link {
  -webkit-box-flex: 0;
  flex: none;
  font-size: 24px;
  line-height: 1.25;
}

.socials__list {
  padding-right: 16px;
}

.socials__link,
.socials__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.socials__link {
  margin-right: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  border: 2px solid #fff;
  line-height: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.socials__link:last-child {
  margin-right: 0;
}

.socials__link:focus {
  outline: none;
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
  cursor: auto;
}

.fancybox-overlay {
  background-color: rgba(46,5,113,.7);
}

.fancybox-content,
.fancybox-slide {
  padding: 0;
}

.popup__wrapper {
  position: relative;
  width: 700px;
  height: 500px;
}

.popup iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width:992px) {
  .button.is-focus,
  .button.is-hover,
  .button:focus,
  .button:hover {
    box-shadow: none;
  }

  .button.is-active,
  .button:active {
    opacity: .7;
  }

  .link:focus,
  .link:hover {
    opacity: .5;
  }

  .link:active {
    opacity: .3;
  }

  .link.link_obscure:hover {
    opacity: 1;
    color: #fff;
  }

  .link.link_obscure:hover .link__icon svg {
    fill: #fff;
  }

  .footer__link:focus,
  .footer__link:hover {
    opacity: .5;
  }

  .footer__link:active {
    opacity: .3;
  }

  .action_play .action__wrapper:hover .action__main {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .action_play .action__wrapper:focus {
    outline: none;
  }

  .action_play .action__wrapper:focus .action__main {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .action_play .action__wrapper:active .action__main {
    opacity: .7;
  }

  .action_play .action__wrapper:active .action__side {
    color: hsla(0,0%,100%,.7);
  }

  .project-card:hover .project-card__header:before {
    background-color: rgba(46,5,113,.5);
  }

  .socials__link:focus,
  .socials__link:hover {
    opacity: .5;
  }

  .socials__link:active {
    opacity: .3;
  }
}

@media (max-width:1500px) {
  .intro__item_lg-pos-a {
    position: static;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width:1240px) {
  .intro__vertical-text {
    position: static;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  .intro__subcontainer {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .about-card__wrapper {
    flex-wrap: wrap;
  }

  .about-card__main {
    font-size: 48px;
    line-height: 1.14583;
  }

  .card__wrapper {
    padding-left: 25px;
    padding-right: 40px;
  }

  .card__title {
    font-size: 24px;
    line-height: 1.25;
  }

  .commission__wrapper {
    padding-bottom: 100px;
  }
}

@media (max-width:1100px) {
  .project-card__title {
    font-size: 24px;
    line-height: 1.25;
  }

  .project-card__content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .project-card__footer {
    padding: 25px 40px;
  }
}

@media (max-width:992px) {
  .section-title {
    margin-bottom: 65px;
    font-size: 42px;
    line-height: 1.05;
  }

  .intro {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  .intro__main {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .intro__item_ml-auto {
    margin-left: 0;
    margin-right: 0;
  }

  .filled {
    font-size: 30px;
    line-height: 1.13333;
  }

  .filled__row {
    padding-left: 30px;
  }

  .filled__row:last-child {
    padding-right: 272px;
  }

  .about__wrapper {
    padding-top: 75px;
  }

  .about__title {
    font-size: 48px;
    line-height: 1.14583;
  }

  .about__title+p {
    max-width: 75%;
  }

  .about-card__wrapper {
    padding: 40px 25px;
  }

  .project-card__tab-title {
    top: 20px;
    left: 20px;
  }

  .project-card__content,
  .project-card__footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cards__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .tools__list {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  .tools__list:before {
    content: content;
  }

  .tools__item {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 20px);
  }

  .tool__wrapper {
    min-height: auto;
    padding: 40px;
    height: 325px;
    background-size: 75% auto;
  }

  .tool__title {
    font-size: 24px;
    line-height: 1.25;
  }

  .tool__main div+span {
    margin-top: 5px;
  }

  .partners__wrapper {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .partners__title.section-title {
    margin-bottom: 75px;
  }

  .partners__item {
    flex-basis: calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px);
  }

  .commission__wrapper {
    padding-bottom: 70px;
  }

  .commission__main {
    margin-bottom: 50px;
  }

  .commission__main p {
    padding-left: 25px;
  }

  .commission__title.section-title {
    margin-bottom: 30px;
  }

  .commission__list {
    padding-bottom: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  .commission__item {
    -webkit-box-flex: 0;
    flex: none;
    margin-right: 50px;
  }

  .commission__item:last-child {
    margin-right: 0;
  }

  .review__wrapper {
    flex-wrap: wrap;
  }

  .review__main {
    padding-top: 100px;
    padding-bottom: 0;
    width: 100%;
  }

  .review__side {
    width: 50%;
    margin-left: auto;
  }

  .review__side img {
    position: static;
  }

  .start__wrapper {
    padding-top: 70px;
  }

  .start__header {
    font-size: 24px;
    line-height: 1.25;
  }

  .start__main {
    padding-bottom: 70px;
  }

  .start__img {
    margin-bottom: 50px;
  }

  .start__side {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (max-width:900px) {
  .intro__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    align-items: flex-start;
    margin-bottom: -30px;
  }

  .intro__item {
    margin-bottom: 30px;
  }

  .intro__item_lg-pos-a {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

@media (max-width:850px) {
  .tab__side {
    margin-bottom: 40px;
  }

  .tab__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width:800px) {
  .footer__item {
    -webkit-box-flex: initial;
    flex: initial;
    margin-right: 20px;
  }

  .footer__item:last-child {
    margin-right: 0;
  }

  .footer__nav {
    flex-wrap: wrap;
  }

  .footer__link {
    width: 100%;
    margin-right: 0;
  }

  .footer__link:before {
    content: none;
  }
}

@media (max-width:767px) {
  .block_indentation-compensation .block__wrapper {
    padding-top: 175px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__item,
  .footer__item:last-child {
    margin-right: 0;
  }

  .intro {
    padding-top: 100px;
  }

  .intro__side {
    margin-bottom: 50px;
  }

  .intro__img {
    display: block;
    width: 100%;
    height: auto;
  }

  .intro__filled {
    top: 40px;
    left: 40px;
  }

  .about__title {
    font-size: 42px;
    line-height: 1.05;
  }

  .about__title+p {
    padding-left: 25px;
  }

  .about__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .project-card__title {
    margin-bottom: 15px;
  }

  .project-card__img {
    width: 100%;
  }

  .project-card__content {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 1.5;
  }

  .tools__wrapper {
    padding-top: 175px;
  }

  .tools.block_indentation-compensation .tools__wrapper {
    padding-top: 100px;
  }

  .tools__title {
    margin-bottom: 35px;
  }

  .tool__wrapper {
    padding: 30px;
    height: 250px;
  }

  .tool__title {
    font-size: 18px;
    line-height: 1.33333;
  }

  .tool__main {
    padding: 12px;
  }

  .tool__main div+span {
    margin-top: 15px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    color: #9f9bad;
  }

  .partners__title.section-title {
    margin-bottom: 75px;
  }

  .partners__item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .commission.block_indentation-compensation .commission__wrapper {
    padding-top: 100px;
  }

  .start__wrapper {
    font-size: 18px;
    line-height: 1.33333;
  }

  .start__row {
    flex-wrap: wrap;
  }

  .start__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .start__item:first-child {
    margin-right: 0;
    padding-right: 0;
  }

  .start__item:first-child:before {
    content: none;
  }

  .start__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width:700px) {
  .cards__list {
    margin-left: 0;
    margin-right: 0;
  }

  .cards__list:before {
    left: 0;
    width: 100%;
  }

  .cards__item {
    flex-basis: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .cards_light .cards__wrapper {
    padding-top: 20px;
  }

  .cards_light .card {
    min-height: 250px;
  }

  .review__title {
    margin-bottom: 50px;
  }

  .review__person {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .review__image {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .review__image:before {
    content: none;
  }
}

@media (max-width:576px) {
  .block__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.13333;
  }

  .header__side {
    font-size: 14px;
    line-height: 1.28571;
  }

  .footer__wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .intro {
    padding-top: 110px;
    padding-bottom: 50px;
  }

  .intro__filled {
    top: 0;
    left: auto;
    right: 0;
  }

  .intro__filled .filled__row {
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro__item_lg-pos-a {
    margin-top: 20px;
    position: static;
    -webkit-box-ordinal-group: 0;
    order: -1;
    align-self: center;
  }

  .filled {
    font-size: 18px;
    line-height: 1.33333;
  }

  .filled__row {
    padding-left: 20px;
  }

  .filled__row:first-child {
    padding-top: 10px;
  }

  .filled__row:last-child {
    padding-bottom: 10px;
  }

  .filled__row:last-child:before {
    content: none;
  }

  .filled span {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .action_play .action__main {
    margin-right: 15px;
  }

  .about__wrapper {
    padding-top: 50px;
  }

  .about__side {
    margin-bottom: 33px;
  }

  .about__title {
    font-size: 23px;
    line-height: 1.25;
  }

  .about__title+p {
    max-width: 100%;
    padding-left: 0;
  }

  .about__main {
    margin: 0 0 -20px;
  }

  .about__item {
    flex-basis: 100%;
    max-width: none;
    margin-right: 0 0 20px;
  }

  .tabs {
    margin-bottom: 20px;
  }

  .tabs__item {
    margin-right: 20px;
  }

  .tabs__item:last-child {
    margin-bottom: 0;
  }

  .tabs__item a {
    font-size: 16px;
    line-height: 1.5;
  }

  .tab__side {
    margin-bottom: 20px;
  }

  .tab__item,
  .tab__main {
    margin-left: 0;
    margin-right: 0;
  }

  .tab__item {
    flex-basis: 100%;
    max-width: none;
  }

  .cards__title {
    margin-bottom: 0;
  }

  .cards__list {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .card__title {
    font-size: 18px;
    line-height: 1.33333;
  }

  .cards_large-paddings .card__wrapper {
    padding: 30px;
  }

  .cards_large-paddings .card__side,
  .cards_large-paddings .card__title {
    margin-bottom: 25px;
  }

  .cards_light .cards__wrapper {
    padding-top: 0;
  }

  .cards_light .card {
    min-height: 200px;
  }

  .tools__item {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  .tool__wrapper {
    background-size: 75% auto;
  }

  .partners__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .partners__title.section-title {
    margin-bottom: 40px;
  }

  .partners__list {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -25px;
  }

  .partners__item {
    flex-basis: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .partner__main {
    max-width: 220px;
  }

  .partner__main span {
    margin-bottom: 15px;
  }

  .partner__icon {
    display: none;
  }

  .commission.block .commission__wrapper {
    padding-top: 100px;
  }

  .commission__wrapper {
    padding-bottom: 30px;
  }

  .commission__main {
    margin-bottom: 50px;
  }

  .commission__main p {
    padding-left: 0;
  }

  .commission__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .start__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 1.33333;
  }

  .start__header {
    flex-wrap: wrap-reverse;
  }

  .start__header span {
    width: 100%;
  }

  .start__logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .start__main {
    padding-bottom: 50px;
  }

  .start__side {
    padding-bottom: 0;
    font-size: 18px;
    line-height: 1.33333;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .start__side span {
    margin-bottom: 20px;
  }

  .start__side .start__link {
    margin-left: 0;
  }
}

@media (max-width:472px) {
  .button {
    width: 100%;
  }

  .button__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .intro__item:not(.intro__item_lg-pos-a) {
    width: 100%;
  }

  .tabs__item a {
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media (max-height:576px) {
  .fancybox-slide {
    padding-left: 0;
    padding-right: 0;
  }
}